{{define "header"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/public/css/reset.css">
    <link rel="stylesheet" href="/public/css/main.css">
    {{if .FirstName}}
    <title>{{.FirstName}}</title>
    {{else}}
    <title>{{.Title}}</title>
    {{end}}
</head>
<body>
{{end}}

{{define "footer"}}
</body>
</html>
{{end}}