<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="../assets/main.css">
</head>
<body>
<section>
<h1>search | sell | save</h1>
</section>
<button type="button">Sign Up!</button>
</body>
</html>